In [9]:
import pandas as pd

In [10]:
 ratings = pd.read_csv("MovieLens_data/ratings.csv")
 ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
ratings.shape
ratings.rating.mean()

3.501556983616962

In [18]:
#Exploratory Data Analysis
movies = pd.read_csv("MovieLens_data/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
ratings.query("movieId==1").rating.mean() # The toy story movie is above average;

3.9209302325581397

In [23]:
ratings.groupby("movieId").mean()['rating'] # getting the average for all movies

movieId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: rating, Length: 9724, dtype: float64