# Learning Pandas

In [1]:
import pandas as pd

In [2]:
rent = pd.read_csv("../Data/aluguel.csv", sep=';')
#read_{X}, where X can be csv, html, table, xlsx, json
rent.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [3]:
print(rent.dtypes)
print(rent.info())

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB
None

In [4]:
real_estate_type = rent['Tipo'].unique()
real_estate_type

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [5]:
residential_estates = ['Quitinete', 'Casa', 'Apartamento',
       'Casa de Condomínio', 'Flat', 'Casa de Vila', 'Loft']
selection = rent['Tipo'].isin(residential_estates)
residential_data = rent[selection].reset_index()
print(residential_data)

       index         Tipo                Bairro  Quartos  Vagas  Suites  Area  \
0          0    Quitinete            Copacabana        1      0       0    40
1          1         Casa       Jardim Botânico        2      0       1   100
2          3  Apartamento                Centro        1      0       0    15
3          4  Apartamento          Higienópolis        1      0       0    48
4          5  Apartamento          Vista Alegre        3      1       0    70
...      ...          ...                   ...      ...    ...     ...   ...
23102  32953  Apartamento                 Méier        2      0       0    70
23103  32955    Quitinete                Centro        0      0       0    27
23104  32956  Apartamento           Jacarepaguá        3      1       2    78
23105  32957  Apartamento  São Francisco Xavier        2      1       0    48
23106  32958  Apartamento                Leblon        2      0       0    70

        Valor  Condominio  IPTU
0      1700.0       500.0  60.0
1      7000.0         NaN   NaN
2       800.0       390.0  20.0
3       800.0       230.0   NaN
4      1200.0         NaN   NaN
...       ...         ...   ...
23102   900.0       490.0  48.0
23103   800.0       350.0  25.0
23104  1800.0       800.0  40.0
23105  1400.0       509.0  37.0
23106  3000.0       760.0   NaN

[23107 rows x 10 columns]

In [6]:
residential_data.to_csv('../Data/residential_data.csv',sep = ';')

In [7]:
residential_data.sort_values(['Quartos', 'Valor'])

,index,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3790,5491,Quitinete,Copacabana,0,0,0,36,100.0,NaN,NaN
5800,8418,Apartamento,Copacabana,0,0,0,15,100.0,NaN,NaN
9123,13166,Apartamento,Barra da Tijuca,0,0,0,15,100.0,NaN,NaN
15183,21745,Apartamento,Leblon,0,0,0,15,100.0,1.0,NaN
2358,3381,Quitinete,Centro,0,0,0,32,400.0,1000.0,146.0
...,...,...,...,...,...,...,...,...,...,...
22050,31488,Casa de Condomínio,Barra da Tijuca,11,4,4,937,15000.0,2300.0,14014.0
352,507,Casa,Botafogo,12,5,0,500,18000.0,NaN,1800.0
311,442,Apartamento,Barra da Tijuca,14,2,2,212,5000.0,1200.0,650.0
3966,5749,Casa,Santa Teresa,14,0,14,350,9500.0,NaN,600.0
3000,4347,Apartamento,Urca,32,0,1,70,4000.0,NaN,NaN

In [8]:
# Removing NAN occurences
rent.dropna(subset=['IPTU', 'Valor'], inplace= True)
rent

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [12]:
# Ajusting NAN occurences
selection = (rent['Tipo'] == 'Apartamento') & (rent['Condominio'].isnull())
rent = rent[~selection]
rent.fillna({'Condominio': 0}, inplace=True)

In [16]:
# adding info to the dataframe
rent['Valor total'] = rent['Valor'] + rent['Condominio'] + rent['IPTU']
rent['M²'] = (rent['Valor'] / rent['Area']).round(2)

In [17]:
# removing info from dataframes
rent.drop(['Valor total'], axis=1,inplace=True)

In [21]:
#creating classesl, with pd.cut you can separate data into another dataframe, and then count the occurrences
class_ = [0,2,4,6,999]
Bedrooms = pd.cut(rent.Quartos, class_)
pd.value_counts(Bedrooms)

(0, 2]      7969
(2, 4]      7549
(4, 6]       539
(6, 999]      57
Name: Quartos, dtype: int64